html {
  min-height: 100%;
}

body {
  background: url(https://images.pexels.com/photos/688675/pexels-photo-688675.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) scroll;
  background-position: center;
  background-size: cover;
}

#jumbo {
  background: rgba(255, 255, 255, 0.7);
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
