html {
  min-height: 100%;
}

body {
  background: url(friends.jpeg) scroll;
  background-position: center;
  background-size: cover;
}

#jumbo {
  background: rgba(255, 255, 255, 0.7);
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
